.editor-container {
  display: flex;
  flex-direction: column;
}

.memo-content{
  height: 200px;
  width: 400px;
  margin: 0 25px;
  font-size: 20px;
}

.memo-buttons {
  display: flex;
  margin: 10px 30px;
  gap: 10px;
}

.error-message{
  color: red;
  margin: 10px 30px;
}
